<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css.css" rel="stylesheet" type="text/css">
</head>
<body>
<p id="p">hejhejhej detta är en paragraf</p>
<button id="knapp1">knapp</button>

<br>

<input id="fname" type="text">
<input id="lname" type="text">
<button id="knapp2" type="submit">submit</button>

<br>

<a id="anchortag" hreflang="en-us" target="_blank" href="google.se">hej</a>
<button id="knapp3">knapp</button>

<br>

<table id="table">
    <tr>
        <td>111</td>
        <td>222</td>
        <td>333</td>
    </tr>

    <tr>
        <td>444</td>
        <td>555</td>
        <td>666</td>
    </tr>

    <tr>
        <td>777</td>
        <td>888</td>
        <td>999</td>
    </tr>
</table>

<button id="knapp4">Add row</button>
<button id="knapp5">Remove row</button>

<br>

<input id="field" type="text" value="John Doe">

<script src="../scripts/index.js"></script>
</body>
</html>